@model SearchFlightsViewModel
@{
    ViewData["Title"] = "Search Flights";
}

<h1>Search Flights</h1>

<form asp-controller="Flight" asp-action="SearchFlights" method="post">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Departure Airport</label>
                <select class="form-control" asp-for="DepartureAirportID" asp-items="ViewBag.AllAirports" >
                <option value=null>None Selected</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Arrival Airport</label>
                <select class="form-control" asp-for="ArrivalAirportID" asp-items="ViewBag.AllAirports" >
                <option value=null>None Selected</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Airline</label>
                <select class="form-control" asp-for="AirlineID" 
                asp-items="ViewBag.AllAirlines">
                    <option value=null>None Selected</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Flight Status</label>
                <select class="form-control" asp-for="FlightStatus" 
                asp-items="Html.GetEnumSelectList<FlightStatus>()">
                    <option value=null>None Selected</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Search Start Date</label>
                <input class="form-control" asp-for="StartDate" />
             </div>
        </div>

          <div class="col-md-3">
             <div class="form-group">
            <label class="control-label">Search End Date</label>
            <input class="form-control" asp-for="EndDate" />
              </div>
          </div>
         @*  <div class="col-md-3">
              <div class="form-group">
                  <label class="control-label">Airline Name</label>
                  <input class="form-control" asp-for="AirlineName" />
              </div>
          </div> *@
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input class="form-check-input" type="checkbox" asp-for="AvailableFlights" />
                <label class="control-label">Show Only Available Flights</label>
            </div>
        </div>
    </div>
</form>

@if(Model.SearchResult != null)
{
    @if (Model.SearchResult.Any())
    {
        <br />
        <hr />
        <br />
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>FlightID</th>
                    <th>Flight Status</th>
                    <th>Airline</th>
                    <th>Departure Airport</th>
                    <th>Arrival Airport</th>
                    <th>Departure Date Time</th>
                    <th>Estimated Arrival Date Time</th>
                    <th>Price</th>
                    @if (User.IsInRole("Administrator"))
                    {
                        <th>Capacity</th>
                        <th>Tickets Sold</th>
                    }
                    <th>Seats Available</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Flight flight in Model.SearchResult)
                {
                    <tr>
                        <td>@flight.FlightID</td>
                        <td>@flight.FlightStatus</td>
                        <td>@flight.Plane.Airline.AirlineName</td>
                        <td>@flight.DepartureAirport.AirportName</td>
                        <td>@flight.ArrivalAirport.AirportName</td>
                        <td>@flight.DepartureDateTime.</td>
                        <td>@flight.EstimatedArrivalDateTime</td>
                        <td>$@flight.Price</td>
                        @if (User.IsInRole("Administrator"))
                        {
                            <td>@flight.Plane.Capacity</td>
                            <td>@flight.Tickets.Count</td>
                        }
                        <td>@(flight.Plane.Capacity-flight.Tickets.Count)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>The search returned no results!</p>
    }
}