@model Flight
@{
    ViewData["Title"] = "Flight Details";
}

<h1>Flight Details</h1>

<br/>

<a asp-controller="Ticket" asp-action="PurchaseTicket"
   asp-route-flightID="@Model.FlightID" 
   class="btn btn-outline-success
    @((Model.FlightStatus != FlightStatus.Planned
    && Model.FlightStatus != FlightStatus.Delayed) ||
    (Model.Tickets.Count() >= Model.Plane.Capacity) ? "disabled" : "")"
>
    Purchase Ticket
</a>

@if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
{
    @if (Model.FlightStatus == FlightStatus.Planned)
    {
        <a class="btn btn-warning"
        asp-controller="Flight"
        asp-action="EditFlightStatus"
        asp-route-flightID="@Model.FlightID"
        asp-route-FlightStatus="@FlightStatus.Delayed">
            <i class="bi bi-airplane"></i> Flight Delayed
        </a>
    }

    @if (Model.FlightStatus == FlightStatus.Planned || Model.FlightStatus == FlightStatus.Delayed)
    {
        <a class="btn btn-primary"
        asp-controller="Flight"
        asp-action="EditFlightStatus"
        asp-route-flightID="@Model.FlightID"
        asp-route-FlightStatus="@FlightStatus.Departed">
            <i class="bi bi-airplane"></i> Flight Departed
        </a>
    }

    @if (Model.FlightStatus == FlightStatus.Departed)
    {
        <a class="btn btn-primary"
        asp-controller="Flight"
        asp-action="EditFlightStatus"
        asp-route-flightID="@Model.FlightID"
        asp-route-FlightStatus="@FlightStatus.Arrived">
            <i class="bi bi-airplane"></i> Flight Arrived
        </a>
    }

    @if (Model.FlightStatus == FlightStatus.Planned || Model.FlightStatus == FlightStatus.Delayed)
    {
        <a class="btn btn-danger"
        asp-controller="Flight"
        asp-action="EditFlightStatus"
        asp-route-flightID="@Model.FlightID"
        asp-route-FlightStatus="@FlightStatus.Cancelled">
            <i class="bi bi-airplane"></i> Flight Cancelled
        </a>
    }

    <a class="btn btn-warning"
    asp-controller="Flight"
    asp-action="EditFlight"
    asp-route-flightID="@Model.FlightID">
        <i class="bi bi-pencil-square"></i> Edit Flight
    </a>
}

<br/>
<br/>

<table class="table table-bordered table-striped">
    <tr>
        <td>Flight ID</td>
        <td>@Model.FlightID</td>
    </tr>
    <tr>
        <td>Flight Status</td>
        <td>@Model.FlightStatus</td>
    </tr>
    <tr>
        <td>Duration</td>
        <td>@Model.Duration</td>
    </tr>
</table>

<h3>Flight Airport Information</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Airport Type</th>
            <th>ID</th>
            <th>Abbreviation</th>
            <th>Name</th>
            <th>Number of Gates</th>
            <th>Flight Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Departure</td>
            <td>@Model.DepartureAirport.AirportID</td>
            <td>@Model.DepartureAirport.Abbreviation</td>
            <td>@Model.DepartureAirport.AirportName</td>
            <td>@Model.DepartureAirport.NumberOfGates</td>
            <td>@Model.DepartureDateTime</td>
        </tr>
        <tr>
            <td>Arrival</td>
            <td>@Model.ArrivalAirport.AirportID</td>
            <td>@Model.ArrivalAirport.Abbreviation</td>
            <td>@Model.ArrivalAirport.AirportName</td>
            <td>@Model.ArrivalAirport.NumberOfGates</td>
            <td>@Model EstimatedArrivalDateTime</td>
        </tr>
    </tbody>
</table>

@if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
{
    <h3>Tickets Sold</h3>
    @if (Model.Tickets.Any())
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Ticket ID</th>
                    <th>Ticketholder</th>
                    <th>Purchase Date/Time</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ticket ticket in Model.Tickets)
                {
                    <tr>
                        <td>@ticket.TicketID</td>
                        <td>@ticket.AppUser.FullName</td>
                        <td>@ticket.PurchaseDateTime</td>
                        <td>@ticket.PurchasePrice</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-danger">This flight has no tickets sold yet!</p>
    }
}