@model IEnumerable<Airline>
@{
    ViewData["Title"] = "ListAllAirlines";
}

<h1>ListAllAirlines</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Airline ID</th>
            <th>Airline Name</th>
            <th>Stock Ticker</th>
            <th>Flights</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Airline eachAirline in Model)
        {
            <tr>
                <td>@eachAirline.AirlineID</td>
                <td>@eachAirline.AirlineName</td>
                <td>@eachAirline.StockTicker</td>
                <td>
                    <a asp-controller="Airline" asp-action="ShowFlightsForAirline"
                        asp-route-airlineID="@eachAirline.AirlineID"
                       class="btn btn-primary @(eachAirline.Planes.Sum(p => p.Flights.Count()) == 0 ? "disabled" : "")">
                        @eachAirline.Planes.Sum(p => p.Flights.Count())
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>